/**
Archivo creado para testear que funcione la variable {$url} en el template header.tpl
*/

body{
    background-color: rgb(198, 255, 188);
}

.fondo-blanco {
    background-color: rgb(246, 246, 246);
}

.justify-right {
    text-align: right;
    align-content: right;
}

.center {
    text-align: center;
    align-content: center;
}

.link a:hover{
    color: #aca;
}