/**
Archivo creado para testear que funcione la variable {$url} en el template header.tpl
*/

body{
    background-color: rgb(198, 255, 188);
}

.fondo-blanco {
    background-color: rgb(246, 246, 246);
}

.justify-right {
    text-align: right;
    align-content: right;
}

.center {
    text-align: center;
    align-content: center;
}

.link a:hover{
    color: #aca;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}